/*
=====================================================================
*   Ceevee v1.0 Default Stylesheet
=====================================================================
*/

/* Webfonts */
@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, footer, header, nav, section {
  display: block;
}

/* BASE */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  font-family: 'opensans-regular', sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* LINKS */
a {
  color: #11ABB0;
  text-decoration: none;
  transition: color .3s ease-in-out;
}
a:hover {
  color: #313131;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* BUTTONS */
.button,
button,
input[type="submit"] {
  background: #11ABB0;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}