/*
=====================================================================
*   Ceevee Layout Stylesheet (Fixed)
=====================================================================
*/

/* BODY */
body {
  background: #0f0f0f;
}

/* HEADER */
header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../images/header-background.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
}

/* FIXED TYPO HERE */
header .banner {
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

/* TITLE */
header .banner-text h1 {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.8);
}

/* NAV */
#nav-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

ul#nav {
  text-align: center;
}

ul#nav li a {
  color: #fff;
  padding: 8px 13px;
}

/* SECTIONS */
#about {
  background: #2B2B2B;
  padding: 96px 0;
}

#resume {
  background: #fff;
  padding: 90px 0;
}

#portfolio {
  background: #ebeeee;
  padding: 90px 0;
}

#contact {
  background: #191919;
  padding: 96px 0;
}