/* Magnific Popup CSS (clean version) */

.mfp-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 1042;
}

.mfp-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1043;
}

.mfp-container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.mfp-content {
  display: inline-block;
  vertical-align: middle;
  z-index: 1045;
}

/* CLOSE BUTTON */
.mfp-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  color: #fff;
}

/* IMAGE */
img.mfp-img {
  max-width: 100%;
  height: auto;
  padding: 40px 0;
}

/* ARROWS */
.mfp-arrow-left:after {
  border-right: 17px solid white;
}

.mfp-arrow-right:after {
  border-left: 17px solid white;
}