/*
=====================================================================
*   Ceevee Media Queries (Fixed)
=====================================================================
*/

/* 1024px */
@media only screen and (max-width: 1024px) {
  header .banner-text h1 {
    font: 80px/1.1em 'opensans-bold', sans-serif;
  }
}

/* 900px */
@media only screen and (max-width: 900px) {
  header .banner-text h1 {
    font: 78px/1.1em 'opensans-bold', sans-serif;
  }

  header .banner-text h3 {
    width: 80%;
  }

  #about .profile-pic {
    width: 114px;
    height: 114px;
  }
}

/* 767px (mobile) */
@media only screen and (max-width: 767px) {

  #nav-wrap {
    position: fixed;
    top: 0;
    right: 0;
  }

  header .banner-text h1 {
    font: 68px/1.1em 'opensans-bold', sans-serif;
  }

  #about .profile-pic {
    display: none;
  }

  #resume .header-col {
    text-align: center;
  }

  #contact input,
  #contact textarea {
    width: 100%;
  }
}

/* 480px */
@media only screen and (max-width: 480px) {

  header .banner-text h1 {
    font: 40px/1.1em 'opensans-bold', sans-serif;
  }

  header .banner-text h3 {
    font-size: 14px;
    width: 90%;
  }
}